@mixin price-button {
  width: 70px;
  height: 22px;
  background-color: $primary-color;
  font-family: $basic-font;
  font-size: 12px;
  text-align: center;
}

@mixin cola-image {
  .img-cola {
    width: 36px;
    height: 65px;
  }
}
